body {
    min-width: 290px;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.7;
    background-color: rgb(251, 255, 235);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#nav {
    border: 1.4px solid gray;
    border-left: none;
    padding: 0px;
    margin: 0px;
    width: calc(100% / 4);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
}

#nav li {
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 5px 12px;
    font-size: 12px;
}

#lang-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: ; */
}

#nav a {
    text-decoration: none;
    color: gray;
}

header {
    color: red;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#main-doc header {
    text-align: left;
    margin: 0;
}

#main-doc {
    /* position: absolute; */
    margin-left: 310px;
    /* padding: 20px; */
    /* margin-bottom: 110px; */
}

section div {
    color: #9e5327;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    line-height: 1;
    background-color: #fff7f7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}